#thirdDiv {
    height: 500px;
    width: 600px;
    background: burlywood;
    padding: 50px;                
    border-radius: 38%;
    text-align: center;                                        
}
#spanId {
    font-size: 18px;
    margin: 50px;
    text-align: center;
}
body {
    position: absolute;
    text-align: center;
    background: url('https://i.pinimg.com/564x/98/57/fb/9857fb0880c3cae05dd47b228c8f7d0e.jpg');
}